<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block eventList %}
      <ul>
          {% for event in events %}
            <div class="event-block">
              <hr>
              <li class = 'event-name'>{{ event['name'] }}</li>
              <br>
              <li>{{ event['date'] }}</li>
              <li>{{ event['venue'] }}</li>
              <br>
              <li>{{ event['desc'] }}</li>
              <br>
              <li>Eventbrite link: <a href={{ event['link'] }}>{{ event['link'] }}</a></li>
                <form action='/saveEventRecommendations' method='POST'>
                    <input type='hidden' name='name' id='name' value='{{ event['resNum']}}'></input>
                    <input type='submit' value='Save Event' class="btn btn-alt"></input>
                </form>
          </div>
          {% endfor %}
      </ul>
    {% endblock %}

  </body>
</html>
