<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="icon" type="image/png" href="../static/logo_favcon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Webapp.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
  {% extends "layout.html" %}
  {% block content %}

    <section class="header">
    <img src="../static/logo_favcon.png" height="100" width="100" id ="logo">
    <h2 class = "headline">FitBit Event Finder<h2>
    </section>
    <section class="message">
        <br />
        {% if message %}
            <h4>{{message}}!</h4>
        {% endif %}
        <br />
        {% if name %}
            <h1>Hello {{ name }}!</h1>
        {% else %}
            <a href='/login' class="btn btn-alt">Login</a>
        {% endif %}
    </section>
    <br />
    <div class="searchbar">
        <br/>
            <form action='/searchEvents' method='POST'>
                <label for="search_term">Search For Events:</label>
                <input type='text' name='search_term' id='search_term'></input>
                <br/>
                <label for="city">City:</label>
                <input type='text' name='city' id='city' required></input>
                <br/>
                <label for="date">Dates:</label>
                <input type='radio' name='datekey' value='today' id='date'>Today</input>
                <input type='radio' name='datekey' value='tomorrow' id='date'>Tomorrow</input>
                <input type='radio' name='datekey' value='this_week' id='date'>This Week</input>
                <input type='radio' name='datekey' value='next_week' id='date'>Next Week</input>
                <input type='radio' name='datekey' value='this_weekend' id='date'>This Weekend</input>
                <input type='radio' name='datekey' value='next_month' id='date'>Next Month</input>
                <input type='radio' name='datekey' value='this_month' id='date'>This Month</input>
                <input type='radio' name='datekey' value='all' id='date' checked>All</input>
                <br/>
                <label for="distance">Radius(miles):</label>
                <input type='text' name='radius' id='radius'></input>
                <br/>
                <br/>
                <input type='submit' name='submit' class="btn btn-alt"></input>
            </form>
        <br/>
    </div>
    {% endblock%}
</body>
</html>
