<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <nav class="navigation">
        <a href='/searchPage'>Search</a>
        <a href='/profile'>Profile</a>
        <a href="/savedEvents">Saved Events</a>
        <a href='/logout'>Logout</a>
    </nav>
    {% block content %}
      {% block eventList %}
        <ul>
            {% for event in events %}
              <div class="event-block">
                <hr>
                <li class = 'event-name'>{{ event['name'] }}</li>
                <br>
                <li>{{ event['date'] }}</li>
                <li>{{ event['venue'] }}</li>
                <br>
                <li>{{ event['desc'] }}</li>
                <br>
                <li>{{ event['is_free']}}</li>
                <li>{{ event['search_term']}}</li>
                <li>{{ event['location_term']}}</li>
                <li>Eventbrite link: <a href={{ event['link'] }}>{{ event['link'] }}</a></li>
                {% if active_page != "savedEvents" %}
                  <form action='/saveEventRecommendations' method='POST'>
                      <input type='hidden' name='name' id='name' value='{{ event['resNum']}}'></input>
                      <input type='submit' value='Save Event' class=" btn-alt save-event"></input>
                  </form>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
      {% endblock %}
    {% endblock %}

    <section class="footer">
        <div id="logo">
            <h1>Welcome to FitBit Event Finder</h1>
        </div>
    </section>
  </body>
</html>
