<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Webapp.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
  <nav class="navigation">
      <a href='/'>Home</a>
      <a href='/profile'>Profile</a>
      <a href='/savedEvents'>Saved Events</a>
      <a href='/logout'>Logout</a>
  </nav>
    <section class="header">
            <h1>My Profile</h1>
    </section>
    <section class="message">
        {% if name %}
            <h1> {{ name }}</h1>
        {% endif %}
    </section>
    <br />
    <br />
    <section class="events">
        {% if activities %}
            <h1>My FitBit Activities</h1>
            <ul>
                {% for activity in activities %}
                <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br/>
    <section class="events">
        {% if events %}
            <h1>Your Recommended events:</h1>
            <br>
            <hr>
            <ul>
                {% for event in events %}
                  <li class = 'event-name'>{{ event['name'] }}</li>
                  <br>
                  <li>{{ event['date'] }}</li>
                  <li>{{ event['venue'] }}</li>
                  <br>
                  <li>{{ event['desc'] }}</li>
                  <br>
                  <li>Eventbrite link: <a href={{ event['link'] }}>{{ event['link'] }}</a></li>
                    <form action='/saveEvent' method='POST'>
                        <label title="Event">Event Name:</label>
                        <input type='text' name='name' id='name' required="true"></input>
                        <label title="Date">Date:</label>
                        <input type='text' name='date' id='date' required="true"></input>
                        <label title="Location">Location:</label>
                        <input type='text' name='venue' id='venue' required="true"></input>
                        <label title="Link">Link:</label>
                        <input type='text' name='link' id='link' required="true"></input>
                        <input type='submit' value='Save Event' class="btn btn-alt"></input>
                    </form>
                  <hr>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <section class="footer">
        <div id="logo">
            <h1>Welcome to FitBit Event Finder</h1>
        </div>
    </section>
</body>
</html>
