<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Webapp.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
  {% extends "layout.html" %}
  {% block content %}
    <section class="header">
            <h2>{{name}}'s Profile</h2>
    </section>
    <section class="message">
        {% if message %}
            <h1> {{ message }}</h1>
        {% endif %}
    </section>
    <br />
    <br />
    <section class="activities">
        {% if activities %}
            <h1>Your FitBit Activities:</h1>
            <ul>
                {% for activity in activities %}
                <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br/>
    <section class="events">
        {% if events %}
            <h1>Recommended Events in {{ location }}:</h1>
            <form action='/profile' method='POST'>
                <label for="change-location">Change city:</label>
				            <input type='text' name='change-location' id='change-location'></input>
                    <input type='submit' name='submit' class="btn-alt" id="change-location-btn"></input>
              </form>
            {% block eventList %}
            <!--  super() displays what is in this block in layout.html-->
              {{ super() }}
            {% endblock %}
        {% endif %}
      </section>
    {% endblock %}
</body>
</html>
