<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" type="image/png" href="../static/logo_favcon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Webapp.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
  {% extends "layout.html" %}
  {% block content %}
    <section class="header">
            <h2>{{name}}'s Profile</h2>
    </section>
    <section class="message">
        {% if message %}
            <h1> {{ message }}</h1>
        {% endif %}
    </section>
    <br />
    <br />
    <section class="activities">
        {% if activities %}
            <h3>Your FitBit Activities:</h3>
            <ul>
                {% for activity in activities %}
                <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br/>
    <section class="events">
        {% if events %}
            <h2>Recommended Events in {{ location }}:</h2>
            <form action='/profile' method='POST' id ="change-city-form">
                <label for="change-location">Change City:</label>
                <input type='text' name='change-location' id='change-location'></input>
                <br />
                <label for="date">Change Dates:</label>
                <input type='radio' name='datekey' value='today'>Today</input>
                <input type='radio' name='datekey' value='tomorrow' id='date'>Tomorrow</input>
                <input type='radio' name='datekey' value='this_week' id='date'>This Week</input>
                <input type='radio' name='datekey' value='next_week' id='date'>Next Week</input>
                <input type='radio' name='datekey' value='this_weekend' id='date'>This Weekend</input>
                <input type='radio' name='datekey' value='next_month' id='date'>Next Month</input>
                <input type='radio' name='datekey' value='this_month' id='date'>This Month</input>
                <input type='radio' name='datekey' value='all' id='date' checked>All</input>
                <br />
                <br />
                <label for="distance">Change Radius(miles):</label>
                <input type='text' name='radius' id='radius'></input>
                <br />
                <input type='submit' name='submit' class="btn-alt" id="change-location-btn"></input>
            </form>
              {% block filters %}
              <!--  super() displays what is in this block in layout.html-->
                {{ super() }}
              {% endblock %}
            {% block eventList %}
            <!--  super() displays what is in this block in layout.html-->
              {{ super() }}
            {% endblock %}

        {% endif %}
      </section>
    {% endblock %}
</body>
</html>
