<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Webapp.css') }}">
    <link rel="icon" type="image/png" href="../static/logo_favcon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <section class="header">
            <h2>FitBit Event Finder</h2>
    </section>
    <section class="message">
        <br />
        {% if message %}
            <h4>{{message}}!</h4>
        {% endif %}
        <br />
        {% if name %}
            <h1>Hello {{ name }}!</h1>
        {% endif %}
    </section>
    <br />
    <div class="searchbar">
        <br/>
            <form action='/searchEvents2' method='POST'>
                <label for="search_term">Search For Events!</label>
				<input type='text' name='search_term' id='search_term'></input>
                <br/>
                <label for="city">City:</label>
				<input type='text' name='city' id='city'></input>
                <br/>
                <label for="date">Date & Time:</label>
                <input type='datetime-local' name='datetime' id='date'></input>
                <br/>
                <label for="distance">Radius(miles):</label>
                <input type='text' name='radius' id='radius'></input>
                <br/>
                <br />
				<input type='submit' name='submit' class="btn btn-alt"></input>
            </form></br>
    </div>
    <section class="events">
        {%  if events %}
            <h1 class="title">Results</h1>
            <br/>
            {% block filters %}
            <!--  super() displays what is in this block in layout.html-->
              {{ super() }}
            {% endblock %}
            {% block eventList %}
            <!--  super() displays what is in this block in layout.html-->
              {{ super() }}
            {% endblock %}
        {% endif %}
    </section>
    {% endblock %}
</body>
</html>
